body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  
  .left-side {
    
    flex: 0 0 200px;
    background-color: #1d297c;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #dcdcdc;
  }
  
  .right-side {
    flex: 0 0 200px;
    background-color: #efefef;
    padding: 70px;
  }
  
  .profile-photo {
    text-align: center;
    padding: 40px;
  }
  .profile-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #333;
    border-style: solid;
    object-fit: cover;
  }
  .button1 {
    font-size: 15px;
    width: 100%;
    border: none;  /*Remove the border if desired */
    background-color: #1d297c; /* Set the desired background color */
    color: #ffffff; /* Set the desired text color */
    padding: 15px 15px; /* Adjust the padding as needed */
  }
  .button1:hover {
    background-color: #141d58; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
  }
  .leftbuttonbottom {
    padding-top: 150%;
  }
  
  .button2 {
    font-size: 15px;
    width: 100%;
    border: none;  /*Remove the border if desired */
    background-color: #1d297c; /* Set the desired background color */
    color: #ffffff; /* Set the desired text color */
    padding: 15px 15px; /* Adjust the padding as needed */
  }
  
  .button2:hover {
    background-color: #141d58; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 100%; /* Adjust the width as needed */
    height: 6%; /* Adjust the height as needed */
    background-color: #efefef; /* Set the background color */
    border-radius: 20px; /* Add rounded corners if desired */
    overflow: hidden; /* Hide any overflowing content */
  }
  
  .search-input {
    background-color: #efefef;
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 25px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    border-radius: 20px;
  }
  
  .search-button {
    background-color: #202e89; /* Set the button background color */
    color: #ffffff; /* Set the button text color */
    border: none;
    outline: none;
    padding: 20px 15px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer;
    border-radius: 100%;
  }
  .search-button:hover {
    background-color: #141d58; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
  }
  
  .filecategories {
    color: #2a3471;
    font-weight: bold;
    padding: 10px;
    padding-top: 20px;
  }
  
  .pic {
    padding: 10px;
    font-size: 16px;
    background-color: #0473c2;
    color: white;
    width: 18%;
    height: 90px;
    border-radius: 10px;
    border: none;
  }
  .doc {
    padding: 10px;
    font-size: 16px;
    background-color: #d30c9b;
    color: white;
    width: 18%;
    height: 90px;
    border-radius: 10px;
    border: none;
  }
  .vid {
    padding: 10px;
    font-size: 16px;
    background-color: #09a185;
    color: white;
    width: 18%;
    height: 90px;
    border-radius: 10px;
    border: none;
  }
  .aud {
    padding: 10px;
    font-size: 16px;
    background-color: #4d0dd7;
    color: white;
    width: 18%;
    height: 90px;
    border-radius: 10px;
    border: none;
  }
  
  .pic:hover {
    background-color: #045791; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
  }
  .doc:hover {
    background-color: #890965; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
  }
  .vid:hover {
    background-color: #08806a; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
  }
  .aud:hover {
    background-color: #3b0aa5; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
  }
  .filedivision {
    color: #2a3471;
    font-weight: bold;
    padding: 10px;
    padding-top: 20px;
  }
  .filesbutton {
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    color: #141d58;
    width: 18%;
    height: 90px;
    border-radius: 10px;
    border: none;
  }
  .filesbutton:hover {
    background-color: #9995a1;
    color: #141d58;
  } 
  .plusbutton {
    padding: 10px;
    font-size: 16px;
    background-color: #ffffff;
    color: #141d58;
    width: 18%;
    height: 90px;
    border-radius: 10px;
    border: none;
  }
  .plusbutton:hover {
    background-color: #9995a1;
    color: #141d58;
  }
  
  .plusbutton img {
    border-radius: 10px;
    vertical-align: middle;
    background-color: rgb(128, 128, 223);
    margin-right: 5px; /* Adjust the spacing between the image and text */
    width: 50px;
    height: 50px;
    border-radius: 49%;
    border: none;
    outline: none;
    object-fit: cover;
  }
  .addfl {
    padding-bottom: 40px;
  }
  .addfiles{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1d297c;
    color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: none;
  }
  .addfiles:hover {
    background-color: #141d58;
    color: #ffffff;
  }
  .rectanglestorage {
    width: 200px;
    height: 150px;
    background-color: #bfbfbf;
    border-radius: 10px;
  }
  .stor {
    text-align: center;
    font-weight: bold;
  }
  /* storage meter */
  .storage-meter {
    width: 200px; /* Set the width of the meter */
    padding-top: 20px;
  }
  
  .storage-meter progress {
    padding-left: 5%;
    width: 90%;
    height: 20px; /* Set the height of the meter */
    appearance: none;
    -webkit-appearance: none;
  }
  
  .storage-meter progress::-webkit-progress-bar {
    background-color: #f5f5f5; /* Set the background color of the progress bar */
    border-radius: 10px; /* Add rounded corners if desired */
  }
  
  .storage-meter progress::-webkit-progress-value {
    background-color: #045791; /* Set the progress bar color */
    border-radius: 10px; /* Add rounded corners if desired */
  }
  
  .storage-meter span {
    font-size: 14px; /* Set the font size of the percentage text */
    margin-top: 5px; /* Adjust the margin as needed */
    padding-left: 40%;
  }
  
  .rectanglestorage:hover {
    background-color: #8a8a8a;
    color: #ffffff;
  }
  
  .recentfiles {
    padding: 10px;
  }
  .recentflcapt {
    font-weight: bold;
    color: #141d58;
  }
  .recentfiles button {
    display: block; /* Make buttons block-level elements */
    margin-bottom: 15px; /* Add vertical spacing between buttons */
  }
  
  .longbutton {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 10px;
  }
  .longbutton:hover {
    background-color: #b8b8b8;
    color: black;
  }
  