.container {
    display: flex;
    min-height: 100vh;

}

.main-content {
    margin-left: 200px;
    flex-grow: 1;
    padding: 20px;
    background-color: #e8eef3;

}


.profile-photo {
    text-align: center;
    padding: 40px;
}

.profile-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d1dbff;
    border: none;
    object-fit: cover;
}

.button1 {
    font-size: 15px;
    width: 100%;
    border: none; /*Remove the border if desired */
    background-color: #1d297c; /* Set the desired background color */
    color: #ffffff; /* Set the desired text color */
    padding: 15px 15px; /* Adjust the padding as needed */
}

.button1:hover {
    background-color: #141d58; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
}

.button2 {
    font-size: 15px;
    width: 100%;
    border: none; /*Remove the border if desired */
    background-color: #1d297c; /* Set the desired background color */
    color: #ffffff; /* Set the desired text color */
    padding: 15px 15px; /* Adjust the padding as needed */
}

.button2:hover {
    background-color: #141d58; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%; /* Adjust the width as needed */
    height: 6%; /* Adjust the height as needed */
    background-color: rgb(254, 254, 255); /* Set the background color */
    border-radius: 20px; /* Add rounded corners if desired */
    overflow: hidden; /* Hide any overflowing content */
}

.search-input {
    background-color: rgb(254, 254, 255);
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 25px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    border-radius: 20px;
}

.search-button {
    background-color: #202e89; /* Set the button background color */
    color: #ffffff; /* Set the button text color */
    border: none;
    outline: none;
    padding: 20px 15px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer;
    border-radius: 100%;
}

.search-button:hover {
    background-color: #141d58; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
}

.favorites {
    padding-top: 15px;
    padding-left: 10px;
}


.favorites-button {
    width: 250px;
    height: 150px;
    border: none;
    text-align: left;
    padding-top: 15px;
    padding-left: 30px;
    background-color:  #cf365a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.favorites-button:hover {
    background-color: #c44c69;
    color: #ffffff;
}

.favorites-button img {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
}

.favorites-button-text-name {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 10px;
}

.favorites-button-text-number {
    font-size: 15px;
    font-weight: lighter;
    color: #ffffff;
}

.files {
    padding-left: 10px;
}

.files-font {
    color: #1d297c;
    font-size: 20px;
    font-weight: bold;
}

.files-buttons {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 200px;
    border: none;
    background-color: #ffffff;
    margin-right: 10px;
    border-radius: 10px;

}

.files-buttons:hover {
    background-color: #c7c3cf;
}

.files-buttons img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    background-color: #d1dbff;
}

.filename {
    display: inline-block;
    font-weight: bold;
}
