
.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.74);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    width: 700px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.preview {
    position: relative;
    border-radius: 12px;
    width: 100%;
    height: 85%;
    align-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}

.closeBtnContainer {
    position: absolute;
    top: 15px;
    right: 15px;
}

.closeBtn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.preview img {
    border-radius: 12px;
    align-content: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgDetails {
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 10px 5px 0px 8px;
    display: flex;
}

.imgInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgInfo p {
    font-weight: bolder;
    color: #1d297c;
    margin: 0px;
    /*margin-right: 500px;*/
}

.imgInfo .date {
    padding-left: 5px;
    color: rgba(29, 41, 124, 0.78);
    margin-top: 5px;
    font-size: 12px;
}



.options {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.options img {
    width: 20px;
    height: 20px;
    padding: 5px 5px;
}

