.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    width: 100%;
}

.half-page {
    width: 50%;
    height: 100%;
    background-color: #948e8e; /* Pale grey color */
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
}

.upload-button {
    background-color: rgb(87, 87, 237);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none !important;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.button-text {
    font-weight: bold;
    font-family: sans-serif;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: bold;
    text-align: left;
}

h1, h2 {
    font-size: 50px;
    color: rgb(3, 3, 119);
}

h3, h4 {
    font-size: 20px;
    color: skyblue;
}

.image {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.left {
    width: 50%;
    padding-left: 5vmax;
}


.right {
    width: 50%;
    background-color: #F5F9FD;
    height: 100vh;
    display: flex;
    justify-self: flex-end;
    /*align-self: flex-end;*/
}
