.left-side {
    position: fixed;
    width:200px;
    height: 800px;
    background-color: #1d297c;
    z-index: 1;
    overflow: hidden;
    flex:200px 0 0;
}

.profile-photo {
    text-align: center;
    padding: 40px;
}
.profile-photo img {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #333;
    border-style: solid;
    object-fit: cover;
}
.button1 {
    font-size: 15px;
    width: 100%;
    border: none;  /*Remove the border if desired */
    background-color: #1d297c; /* Set the desired background color */
    color: #ffffff; /* Set the desired text color */
    padding: 15px 15px; /* Adjust the padding as needed */
    cursor: pointer;
}
.button1:hover {
    background-color: #141d58; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
}
.leftbuttonbottom {
    padding-top: 130%;
}

.button2 {
    font-size: 15px;
    width: 100%;
    border: none;  /*Remove the border if desired */
    background-color: #1d297c; /* Set the desired background color */
    color: #ffffff; /* Set the desired text color */
    padding: 15px 15px; /* Adjust the padding as needed */
}

.button2:hover {
    background-color: #141d58; /* Set the background color on hover */
    color: #ffffff; /* Set the text color on hover */
}

